
#cardComp{
    transition: all ease-in-out .2s;
}

#cardComp:hover{
    transform: scale(1.05);
}

.cardImage{
    width: 200px;
    height: 200px;
    background-size: cover;
}

@media (width>=1920){
    #titleText{
        font-size: 1rem !important;
    }
    #descriptionText{
        font-size: 4rem !important;
    }
    #priceText{
        font-size: 4rem !important;
    }
    #buttonText{
        font-size: 4rem !important;
    }
}