
@media (width>=1920px) {
    #formTitle{
        font-size: 2rem !important;
    }
    #formInput{
        font-size: 1.5rem !important;
    }
    #formDropdown{
        font-size: 1.5rem !important;
    }

    .dropdownText{
        font-size: 1.5rem !important;
    }
    .categoryTitle{
        font-size: 2.5rem !important;
    }
}