@import "tailwindcss";

*{
  /* font-family: source-sans; */
  /* font-family: system-ui; */
  /* font-family: Lora; */
  font-family: system-ui;
}

body{
  background-color: #f0f0f0;
  max-width: 100%;
  overflow-x: hidden;
}

#MainHero{
  background-image: url('./assets/Backgrounds/Show1HERO.jpg');
  background-position: bottom;
  background-size: cover;
  @supports (-webkit-touch-callout: none) {
        background-attachment: initial !important;
    }
}

#MainContact{
  background-image: url('./assets/Backgrounds/SoapShelves2.jpg');
  background-position: top;
  @supports (-webkit-touch-callout: none) {
        background-attachment: initial !important;
    }
}

#Manos>#MainSection{
  background-image: url('./assets/Backgrounds/WhiteFully.jpg');
  background-position: center;
  @supports (-webkit-touch-callout: none) {
        background-attachment: initial !important;
    }
}
#Corporal>#MainSection{
  background-image: url('./assets/Backgrounds/SoapShelves.jpg');
  background-position: center;
  @supports (-webkit-touch-callout: none) {
        background-attachment: initial !important;
    }
}
#Solidos>#MainSection{
  background-image: url('./assets/Backgrounds/greensoapinbasket.jpg');
  background-position: center;
  @supports (-webkit-touch-callout: none) {
        background-attachment: initial !important;
    }
}

#Detergentes>#MainSection{
  background-image: url('./assets/Backgrounds/DeterBlue.jpg');
  @supports (-webkit-touch-callout: none) {
        background-attachment: initial !important;
    }
}

#Otros>#MainSection{
  background-image: url('./assets/Backgrounds/SolidBgBLUE.jpg');
  @supports (-webkit-touch-callout: none) {
        background-attachment: initial !important;
    }
}

#ContactMain>#MainSection{
  background-image: url('./assets/Backgrounds/ContactBg.jpg');
  background-position: bottom;
  @supports (-webkit-touch-callout: none) {
        background-attachment: initial !important;
    }
}

#ContactImg{
  background-image: url("./assets/Backgrounds/ContactImg.png");
}

@theme {
    --color-bgf0: #f0f0f0;
    --color-teagreen: #AACC96;
    --color-bubblegum: #a8657e;
    --color-forest: #25533F;
    --color-peachfrost: #F4BEAE;
    --color-icedblue: #97bce8;
    --color-blueberry: #17506d;

    --shadow-2xl-blueberry: 0px 0px 10px #17506d;
    --shadow-2xl-bubblegum: 0px 0px 10px #a8657e;
    --shadow-2xl-forest: 0px 0px 10px #25533F;
}

@layer utilities {
  .text-shadow-bubblegum {
    text-shadow: 4px 4px 5px #a8657e;
  }

  .text-shadow-forest {
    text-shadow: 4px 4px 5px #25533F;
  }

  .text-shadow-blueberry {
    text-shadow: 4px 4px 5px #17506d;
  }

  .shadow-2xl-bubblegum{
    box-shadow: #a8657e;
  }

  .shadow-lg-forest{
    box-shadow: #25533F;
  }

  .shadow-lg-blueberry{
    box-shadow: #17506d;
  }
}